* {
    box-sizing: border-box;
}

:root {
    --font-poppins: "Poppins", sans-serif;
    --font-lora: "Lora", serif;
    --primary-color: #0553d2;
    --secondary-color: #1dabfd;
    --black-color: #151716;
    --white-color: #ffffff;
    --light-bg: rgba(210, 217, 223,0.4);
}

html {
    width: 100%;
    overflow-x: hidden;
    font-size: 14px;

    @media only screen and (min-width: 1200px) {
        font-size: 1vw;
    }
    @media only screen and (min-width: 1920px) {
        font-size: 0.833vw;
    }
}

body {
    font-family: var(--font-lora);
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0px;
    line-height: 1.5;
    letter-spacing: 0.35px;
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: var(--font-poppins);
}

p {
    margin: 0 0 0.625rem;
    font-size: 1.25rem;
    line-height: 1.65;
    opacity: 0.85;
    letter-spacing: 0.5px;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.container {
    width: 90vw;
    max-width: 100%;
    padding: 0 1rem;
    margin: auto;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.section-padding {
    padding: 5rem 0;
}

.section-padding-bottom {
    padding-bottom: 5rem;
}

.section-padding-top {
    padding-top: 5rem;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

// .btn {
//     background: var(--primary-color);
//     padding: 1rem 1.5rem;
//     font-size: 1.25rem;
//     font-weight: 600;
//     color: var(--white-color);
//     font-family: var(--font-poppins);
//     border-radius: 0.5rem;
//     cursor: pointer;
//     display: inline-flex;
// }

.btn {
    font-family: var(--font-poppins);
    background: var(--primary-color);
    color: var(--white-color);
    letter-spacing: 0;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    min-width: 16rem;
    padding: 1.375rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    transition: all .5s ease-in-out;
    display: inline-flex;
    position: relative;
    border-radius: 0.25rem;

    span {
        position: relative;
    }

    img {
        opacity: 0;
        visibility: hidden;
        margin: auto;
        font-size: .75rem;
        position: absolute;
        top: 0rem;
        bottom: 0;
        right: 0;
        width: 0.75rem;
    }
    img, span {
        transition: all .5s ease-in-out;
    }

    &:hover {
        img {
            opacity: 1;
            visibility: visible;
        }
        span {
            padding-right: 1.375rem;
        }
    }
}

header {
    padding: 0.75rem 0;
    transition: all 0.25s ease-in-out;
    background: var(--white-color);

    &.active {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 11;
        box-shadow: 0 0 0.25rem rgba(0,0,0,0.25);
    }

    .logo {
        display: flex;
        img {
            max-height: 5rem;
        }   
    }

    .inner-wrapper {
        justify-content: space-between;
    }

    ul {
        display: flex;
        justify-content: space-between;
        column-gap: 2.125rem;
    }

    .dropdown {
        display: none;
    }

    a,
    span {
        color: var(--primary-color);
        text-decoration: none;
        font-family: var(--font-poppins);
        font-weight: 500;
        padding: 0;
        background: transparent;
        border-radius: 0.25rem;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        position: relative;
        display: flex;
        z-index: 1;
        font-size: 1rem;
    }

    .toggle-icon {
        display: none;
        
        img {
            max-height: 16px;
        }
    }

    .closeicon {
        display: none;

        img {
            max-height: 0.75rem;
        }
    }
}

.border-box {
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
}

.two-column {
    column-gap: 4%;

    .item {
        width: 48%;
    }
}

.title {
    font-size: 2.125rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.25;
    letter-spacing: 0.25px;
    color: var(--primary-color);
}

.heading-wrapper {
    margin-bottom: 2rem;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;

    .title {
        font-family: var(--font-poppins);
        margin-bottom: 10px;
    }
}

.banner {
    .inner-wrapper {
        min-height: calc(85vh - 8rem);
        position: relative;
    }
    .banner-bg {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .content-box {
        // background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 4rem 2rem;
        text-align: left;
        position: relative;
        min-height: calc(85vh - 8rem);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: 0.7);
            // backdrop-filter: blur(4px);
        }
    }

    .content {
        width: 50rem;
        max-width: 100%;
        color: var(--white-color);
        position: relative;
        z-index: 1;
    }

    h1 {
        font-size: 2.125rem;
        margin-top: 0;
        line-height: 1.35;
        width: 90%;
        font-weight: 700;
        margin: 0 0 1rem;
        letter-spacing: 1px;
        margin-bottom: 0;

        // span {
        //     color: var(--primary-color);
        // }
    }

    p {
        font-size: 1.375rem;
        font-weight: 500;
        margin-top: 1rem;
    }

    .btn-wrapper {
        margin-top: 3rem;
    }

    .btn {
        min-width: 12rem;
    }
    .mobile {
        display: none;
    }

    &.innerbanner {
        .inner-wrapper {
            min-height: calc(60vh - 6rem);
        }
        .content-box {
            min-height: calc(60vh - 6rem);
            padding: 14rem 4rem 2rem;
            text-align: left;
            align-items: flex-start;
        }

        h1 {
            width: 100%;
        }

    }
}

.breadcrumb {
    padding: 2rem 4rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 0 0 0.5rem 0.5rem;
    background: var(--light-bg);
    margin-top: -0.5rem;

    li {
        position: relative;
        padding-right: 1.5rem;
        margin-right: 1.5rem;
        font-size: 1rem;
        font-weight: 600;
        color: rgba(0,0,0,0.65);

        &::after {
            content: '';
            position: absolute;
            width: 0.375rem;
            height: 0.375rem;
            border-right: 0.0625rem solid var(--primary-color);
            border-bottom: 0.0625rem solid var(--primary-color);
            top: 0.5rem;
            right: -0.125rem;
            display: flex;
            transform: rotate(-45deg);
        }

        &:last-child {
            padding-right: 0;
            margin-right: 0;
            &::after {
                display: none;
            }
        }
    }
}

.about-section {
    .inner-wrapper {
        flex-wrap: wrap;
    }

    .btn-wrapper {
        margin-top: 2rem;
    }
}

.aboutus {
    .inner-wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 6%;
    }

    .content-box {
        width: 54%;
    }

    .img-wrapper {
        width: 40%;
    }

    .tagline {
        font-size: 1.25rem;
        padding-left: 5rem;
        position: relative;
        font-style: italic;
        padding-top: 2rem;
        margin-top: 2rem;
        line-height: 1.65;
        text-transform: capitalize;

        &::before {
            content: '"';
            position: absolute;
            font-size: 8rem;
            font-weight: 600;
            color: var(--black-color);
            opacity: 0.25;
            width: 5rem;
            height: 2.5rem;
            left: 0;
            top: 0;
            line-height: 1;
        }
    }
}

.services-section {
    .inner-wrapper {
        background: var(--light-bg);
        padding: 80px 24px;
        border-radius: 8px;
    }
    .items {
        column-gap: 2%;
    }

    .item {
        flex: 1 1 24%;

        p {
            font-size: 1rem;
            margin-bottom: 0;
        }
    }

    .border-box {
        margin-bottom: 20px;
    }

    .name {
        font-size: 1rem;
        font-family: var(--font-poppins);
        font-weight: 700;
        margin-bottom: 8px;
        color: var(--primary-color);
    }

    
}

.values-section {
    .items {
        column-gap: 6%;
        flex-wrap: wrap;
    }

    .item {
        flex: 1 1 18%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .icon-wrapper {
        width: 80px;
        height: 80px;
        background: var(--light-bg);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        img {
            max-height: 34px;
        }
    }

    .name {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 8px;
        color: var(--primary-color);
        text-transform: capitalize;
    }

    p {
        margin-bottom: 0;
        font-size: 14px;
    }
}

.impact {
    .inner-wrapper {
        column-gap: 4%;
        align-items: center;
    }
    .heading-wrapper {
        width: 30%;
        margin-bottom: 0;

        p {
            margin-bottom: 0;
            font-size: 1.25rem;
            line-height: 1.5;
        }
    }
    .items {
        width: 76%;
        column-gap: 2%;
        row-gap: 1.5rem;
        flex-wrap: wrap;
    }

    .item {
        flex: 1 1 32%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        box-shadow: 0 0 0.25rem rgba(0,0,0,0.25);
        padding: 2.5rem 1.5rem;
        border-radius: 0.5rem;
        overflow: hidden;
        background: #566885;
        min-height: 20rem;

        p {
            margin-bottom: 0;
            font-size: 1.125rem;
            color: var(--white-color);
        }
    }

    .icon-wrapper {
        width: 5rem;
        height: 5rem;
        background: var(--white-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        img {
            max-height: 2.75rem;
            filter: brightness(0);
        }
    }

    .name {
        font-size: 2.25rem;
        letter-spacing: 1px;
        font-weight: 700;
        margin-bottom: 0;
        color: var(--white-color);
        text-transform: capitalize;
        font-family: var(--font-poppins);
    }
}

.faq-section {
    .items {
        column-gap: 2%;
        row-gap: 1rem;
    }

    .item {
        padding: 2rem 1.5rem;
        border-radius: 0.5rem;
        overflow: hidden;
        background: var(--light-bg);

        p {
            font-size: 1.125rem;
            margin-bottom: 2rem;
        }
    }

    .stars {
        column-gap: 0.25rem;
        margin-bottom: 2rem;
        img {
            max-height: 0.875rem;
        }
    }

    .name {
        font-size: 1.125rem;
        font-weight: 700;
        color: var(--primary-color);
        margin-bottom: 0.25rem;
        font-family: var(--font-poppins);
    }

    .date {
        opacity: 0.85;
        font-size: 0.875rem;
    }
}

.gallery {
    .items {
        flex-wrap: wrap;
        gap: 1rem 1%;
    }

    .item {
        width: 24.25%;
        border-radius: 0.5rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .btn-wrapper {
        justify-content: center;
        margin-top: 3rem;
    }
}

.contact-us {
    .form-wrapper {
        background: var(--primary-color);
        padding: 24px;
        width: 100%;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    input,
    textarea {
        width: 100%;
        min-height: 54px;
        border-radius: 4px;
        border: 1px solid var(--light-bg);
        outline: none;
        font-size: 14px;
        padding: 8px 15px;
        font-family: var(--font-poppins) !important;
    }

    button {
        background: var(--primary-color);
        border: 0;
        padding: 20px 30px;
        font-size: 18px;
        font-weight: 700;
        color: var(--white-color);
        border-radius: 4px;
        cursor: pointer;
    }

    .title,
    p {
        color: var(--white-color);
    }

    .img-wrapper {
        background: var(--light-bg);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.get-involved {
    .items {
        width: 100%;
        max-width: 100%;
        margin: auto;
        row-gap: 1rem;
        flex-direction: row;
        position: relative;
        overflow: hidden;
    }

    .bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        flex: 1;
        padding: 2.5rem 1.5rem;
        min-height: 18rem;
        background: rgba(5, 83, 210,0.75);
        border: 1px solid var(--white-color);
        position: relative;
        transition: all 0.5s ease-in-out;

        &:nth-child(odd) {
            background: rgba(29, 171, 253, 0.85);
        }

        &:hover {
            background: var(--primary-color);

            &:nth-child(odd) {
                background: var(--secondary-color);
            }
            .content {
                padding-bottom: 3.5rem;
            }
            .btn-sm {
                opacity: 1;
                visibility: visible;
                bottom: 0;
            }

        }
    }

    .icon-box {
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 4rem;
            max-height: 4rem;
            filter: brightness(0) invert(1);
        }
    }

    .text {
        font-family: var(--font-poppins);
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--white-color);
        margin-top: 1rem;
    }

    .content {
        padding-bottom: 0;
        position: relative;
        transition: all 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .btn-sm {
        position: absolute;
        font-family: var(--font-poppins);
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        color: var(--primary-color);
        background: var(--white-color);
        width: max-content;
        bottom: -50%;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in-out;
    }
}



.map-wrapper {
    iframe {
        max-width: 100%;
    }
}

footer {
    padding: 40px 0px;
    background: var(--black-color);
    .inner-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .img-wrapper {
        padding: 0.5rem 1.5rem;
        display: flex;
        background: var(--white-color);
        img {
            // filter: brightness(0) invert(1);
            max-height: 80px;
        }
    }

    .top {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .links {
        column-gap: 4rem;
    }

    .link {
        a {
            font-size: 1rem;
        }
    }

    .location {
        width: 100%;
        justify-content: space-between;
        column-gap: 2%;
        padding-top: 40px;
        border-top: 1px solid rgba(255,255,255,0.15);

        li {
            flex: 0 0 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
            column-gap: 15px;

            .icon-wrapper {
                width: 60px;
                height: 60px;
                min-width: 60px;
                background: var(--white-color);
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: left;
                img {
                    filter: brightness(0);
                    max-height: 30px;
                }
            }
        }
    }

    

    span,
    a {
        color: var(--white-color);
        font-size: 14px;
        text-decoration: none;
        font-weight: 300;
        letter-spacing: 0.3px;
    }

    .num {
        flex-direction: column;
        row-gap: 4px;
    }

    .social-icons {
        column-gap: 1.125rem;
        align-items: center;
        img {
            max-height: 20px;
        }

        a {
            display: flex;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 0.375rem;
            background: var(--white-color);
            justify-content: center;
            align-items: center;
            img {
                max-width: 1.125rem;
                max-height: 1.125rem;
                filter: brightness(1) invert(1);
            }
        }
    }

    .copyright {
        padding-top: 40px;
        border-top: 1px solid rgba(255,255,255,0.15);
        color: var(--white-color);
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: space-between;
        font-weight: 300;
        letter-spacing: 0.3px;
    }
}

.vission-mission {
    .list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 4%;
        row-gap: 1.5rem;
    }

    li {
        width: 48%;
        background: var(--light-bg);
        padding: 2rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 20rem;
        &:first-child {
            background: var(--white-color);
        }
    }

    .title {
        margin-bottom: 1.5rem;
    }

    .name {
        margin-top: 0;
        margin-bottom: 1.125rem;
        font-size: 1.125rem;
        font-weight: 700;
        color: var(--primary-color);
    }

    p {
        margin-bottom: 0;
    }

    .right {
        position: relative;
        align-items: flex-end;

        img {
            position: absolute;
        }
    
        h2 {
            color: var(--white-color);
            margin-bottom: 1rem;
        }

        p {
            color: var(--white-color);
            font-size: 1.25rem;
        }
    }

    .content {
        position: relative;
        padding: 2rem;
    }
}

.milestone {
    .items {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
        position: relative;
        padding: 4rem 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 0.125rem;
            height: 100%;
            margin: auto;
            background: var(--black-color);
            opacity: 0.15;
        }
    }

    .item {
        display: flex;
        justify-content: flex-end;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 0.5rem;
            height: 0.5rem;
            background: var(--secondary-color);
            border-radius: 50%;
        }

    
        p {
            margin-bottom: 0;
        }

        &:nth-child(even) {
            justify-content: flex-start;
            
            .content {
                align-items: flex-end;
            }

            p {
                text-align: right;
            }
        }
    }

    .content {
        width: 46%;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 0.5rem;
        padding: 2rem;
        border-radius: 0.5rem;
        background: var(--light-bg);
    }

    .num {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.75rem;
        font-weight: 800;
        color: var(--primary-color);
    }
}


@media only screen and (max-width: 1199.5px) {
    p {
        font-size: 14px;
    }
    .title {
        font-size: 32px;
    }
    header {
        ul {
            column-gap: 6px;
        }

        a,
        span {
            padding: 8px 12px;
        }

        .logo {
            img {
                max-height: 46px;
            }
        }
    }
}

@media only screen and (max-width: 1024.5px) {
    .section-padding {
        padding: 60px 0;
    }
    .section-padding-bottom {
        padding-bottom: 60px;
    }
    .services-section {
        .items {
            flex-wrap: wrap;
            row-gap: 24px;
        }
        .item {
            flex: 1 1 49%;
        }
    }

    .value-section {
        .inner-wrapper {
            flex-direction: column;
        }
        .heading-wrapper,
        .items {
            width: 100%;
        }
    }

    .faq-section {
        .items {
            overflow-x: auto;

        }
        .item {
            flex: 1;
            min-width: 400px;
        }
    }

    .two-column {
        flex-wrap: wrap;
    }

    .contact-us {
        .inner-wrapper {
            row-gap: 24px;
        }
        .item {
            width: 100%;
        }
    }

    .footer {
        .inner-wrapper {
            row-gap: 30px;
        }
        .copyright,
        ul {
            padding-top: 30px;
        }
    }
}

@media only screen and (max-width: 992.5px) {
    .section-padding {
        padding: 40px 0;
    }
    .section-padding-bottom {
        padding-bottom: 40px;
    }
    .container {
        max-width: 100vw;
    }
    nav {
        position: fixed;
        padding: 15px;
        right: -100%;
        width: 90vw;
        max-width: 300px;
        background: var(--white-color);
        z-index: 11;
        top: 0;
        bottom: 0;
        height: 100vh;
        overflow-y: auto;
        box-shadow: 0 0 4px rgba(0,0,0,0.25);
        transition: all 0.5s ease-in-out;

        &.active {
            right: 0;
        }

        ul {
            flex-direction: column;
            margin-top: 30px;
        }
    }

    .two-column {
        row-gap: 24px;
        .item {
            width: 100%;
        }
    }
    header {
        .toggle-icon {
            display: flex;
        }

        .closeicon {
            display: flex;
            justify-content: flex-end;
        }
        a,
        span {
            padding: 15px 0;
            &.active {
                color: var(--primary-color);
            } 
            &::before {
                display: none;
            }
        }

        li {
            border-bottom: 1px solid #dddddd;
        }
    }

    .title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .services-section {
        .inner-wrapper {
            padding: 40px 15px;
        }
        .border-box {
            margin-bottom: 16px;
        }
        .name {
            margin-bottom: 4px;
        }
    }

    .contact-us {
        button {
            padding: 15px 20px;
        }
    }

    footer {
        .inner-wrapper {
            align-items: flex-start;
            row-gap: 20px;
        }
        .social-icons {
            column-gap: 30px;

            img {
                max-height: 18px;
            }
        }
        ul {
            flex-direction: column;
            row-gap: 15px;
            align-items: flex-start;
            padding-top: 20px;
        }

        li {
            .icon-wrapper {
                width: 40px;
                height: 40px;
                min-width: 40px;
                border-radius: 4px;

                img {
                    max-height: 22px;
                }
            }
        }

        .copyright {
            padding-top: 20px;
            text-align: left;
            justify-content: flex-start;
        }
    }
}

@media only screen and (max-width: 767.5px) {
    .banner {
        .desktop {
            display: none;
        }
        .mobile {
            display: block;
        }
    }
    .services-section {
        .item {
            flex: 1 1 100%;
        }
    }

    .value-section {
        .item {
            flex: 1 1 100%;
            padding: 30px 15px;

            &:nth-child(3) {
                background: var(--primary-color);
            }

            &:nth-child(4) {
                background: var(--primary-color);
            }
        }
    }   

    .faq-section {
        .heading-wrapper {
            text-align: left;
        }
    }
}